.appContainer {

display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 2rem;
background-color: rgb(168, 248, 239);
background-image: url('/background.jpg');
background-position: center;
background-size: cover;
}

.errorMessage{
color: red;
padding: 1rem;
margin: 1rem 0;
width: 100%;
max-width: 600px;

}